.hero
	background: #f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat center
	background-size: cover
	padding-top: 180px
	padding-bottom: 270px
	margin-top: 80px
	&__title
		max-width: 320px
		font-size: 30px
		margin-bottom: 40px
	&__subtitle
		display: block
		font-size: 30px
		+bold
		margin-bottom: 67px
@media (max-width: 576px)	
	.hero
		background-size: 100%
		background-position: top right